<div class="foot-main">
    <div class="flex-footer-items">
        <small class="site-credits">
            Bandcamp Lite was developed and designed in late summer 2022 by Corey Neal & Erik Pedersen.
        </small>
    </div>
</div>