<div class="foot-main">
    <div class="flex-footer-items">
        <small class="site-credits">
            Bandcamp Lite was developed and designed in late summer 2022 by Corey Neal & Erik Pedersen. May it fulfill the requirements of General Assembly SEIR725's Project II.
        </small>
        <small class="edit-or-delete">
            <a href="./<%= context.title %>/edit">🖍 EDIT / DELETE THIS ARTIST</a> 
        </small>
    </div>
</div>