<nav class="navbar">
    <div class="flex-nav-items">
        <div class="left-grid-margin"></div>
        <div class="bandcamp-logo">
            <a href="/">
            <img src="https://s4.bcbits.com/img/bandcamp-logo-color-bcaqua.svg" alt="Bandcamp logo">
            </a>
        </div>
        <!-- <div class="search-container">
            <input class="search-bar" type="text" placeholder="search for artist, album, track, or genre...">
        </div> -->
        <div class="nav-link-cluster">
            <a class="nav-links" href="/artists">Artists</a>
            <a class="nav-links" href="/albums">Albums</a>
            <a class="nav-links" href="/upload">Upload</a>
        </div>
        <div class="right-grid-margin"></div>
    </div>
</nav>