<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %>
<body>
    <%- include('../partials/nav') %>
    <h1>Albums, A-Z</h1>
    <div>
        <ul>
            <% for (i=0; i < albums.length; i++) { %>
                <li> <a href="./album/<%= albums[i].title %>"><%= albums[i].title %></a></li>
            <% } %>
        </ul>
    </div>
</body>

</html>