<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %>
<body>
    <%- include('../partials/nav') %>
    <h1>NEW PAGE</h1>
    <main class="container">
        <div>
            <form action="/test" method="POST">
            <div>
                <label for="artistname">Artist Name</label>
                    <input
                    type="text"
                    placeholder="The Budos Band"
                    name="artistname"
                    id="artistname"
                />
            </div>
            <div>
                <label for="albumtitle">Album Title</label>
                    <input
                    type="text"
                    placeholder="The Budos Band II"
                    name="albumtitle"
                    id="albumtitle" 
                    />
            </div>
            <div>
                <label for="tracktitle">Track Name</label>
                    <input
                    type="text"
                    placeholder="Ride Or Die"
                    name="tracktitle"
                    id="tracktitle" 
                    />
            </div>
            <button class="button is-info">Upload Track</button>
            </form>
        </div>
    </main>
</body>
</html>