<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %>
<body>
    <%- include('../partials/nav') %>
    <h1> <%= context.name %> </h1>
    <div>
        Band Info
        
        <div>
            Members list Genre?
        </div>
        <div>
            Profile photo        
        </div>
        <div>
            Bio:
        </div>
    </div>
    <div>
        Albums
        <div>
            Featured Album
            <div>
                album player
            </div>
        </div>
        <div>
            Discography links
            <div>
                
            </div>
        </div>       
    </div>
    <br>
    <div>
        <a href="/home"> Home </a>
    </div>
</body>
</html>