@font-face {
    font-family: "Porpora";
    src: url(https://files.cargocollective.com/c1451007/Porpora-Regular.woff);
}

@font-face {
    font-family: "Neue Montreal Medium";
    src: url(https://files.cargocollective.com/c1451007/PPNeueMontreal-Medium.woff);
}

@font-face {
    font-family: "Neue Montreal Medium Italic";
    src: url(https://files.cargocollective.com/c1451007/PPNeueMontreal-MediumItalic.woff);
}

body {
    background: rgb(255, 255, 255);
    margin: 0 auto;
    padding-top: 25px;
    font-family: "Porpora","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 45px;
    background: rgb(255, 255, 255);
    width: 100%;
    left: 0;
}

.navbar a {
    font-family: "Porpora","Helvetica Neue",Helvetica,Arial, sans-serif;
    font-size: 1em;
    color:rgb(0, 0, 0);
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.home-cluster {
    margin-bottom: 120px;
}

.hero-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.section-title {
    font-size: 2.75em;
    color: #408ea3;
    text-align: center;
    margin-bottom: 10px;
}