@font-face {
    font-family: "Porpora";
    src: url(https://files.cargocollective.com/c1451007/Porpora-Regular.woff);
}

@font-face {
    font-family: "Mattone";
    src: url(https://files.cargocollective.com/c1451007/Mattone-150.woff);
}

@font-face {
    font-family: "Halibut Condensed";
    src: url(https://files.cargocollective.com/c1451007/HalibutSerif-Condensed.woff);
}

@font-face {
    font-family: "Halibut Regular";
    src: url(https://files.cargocollective.com/c1451007/HalibutSerif-Regular.woff);
}

@font-face {
    font-family: "Halibut Expanded";
    src: url(https://files.cargocollective.com/c1451007/HalibutSerif-Expanded.woff);
}

body {
    background: #FFF7EA;
    margin: 0 auto;
    padding-top: 25px;
    font-family: "Porpora","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 50px;
    background: rgb(255, 255, 255);
    width: 100%;
}

.flex-nav-items {
    display: flex;
    flex-flow: row nowrap;
    margin: 15px 1em 0 1em;
}

.bandcamp-logo {
    margin-right:auto;
}

.nav-link-cluster {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

.nav-links {
    justify-self: end;
    font-family: "Porpora","Helvetica Neue",Helvetica,Arial, sans-serif;
    font-size: 1em;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.home-cluster {
    margin-bottom: 120px;
    padding-left: 25px;
}

.section-title {
    font-family: "Mattone";
    font-size: 3em;
    text-align: left;
}

.hero-image {
    width: 100%;
    height: 325px;
    object-fit: cover;
}

.album-card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;

    width: 100%;
    height: 400px;
    left: 0px;
    overflow-x: scroll;
}

.album-card {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 3px;

    position: relative;
    width: 275px;
    height: 387px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 2px solid #000000;
    box-shadow: 6.85px 8.75px 0px #000000;
    border-radius: 22.5px;
}

.album-art-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 11.4667px;

    mask-border: border;

    width: 274.05px;
    height: 285.52px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

img.album-art {
    width: 100%;
    height: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.xl-graphic-title {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 66px;
    gap: 21px;
    position: absolute;
    width: 425px;
    height: 177px;
    left: calc(50% - 425px/2 + 0.5px);
    top: 100px;
    background: #FFFFFF;
    border: 6px solid #000000;
    box-shadow: 8px 10px 0px #000000;
    border-radius: 195px;
}

.page-title {
    font-family: 'Mattone';
    font-style: normal;
    font-weight: 200;
    font-size: 3.5em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #000000;    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    padding: 0px;
    gap: 50px;
    position:relative;
    width: 85%;
    left: calc(50% - 85%/2 + 0.5px);
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 66%;
}

.upload-form-field {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

label {
    font-family: "Mattone";
    font-size: 2em;
    letter-spacing: -0.03em;
    margin: 20px 0 12px 0;
}

input.user-input-field {
    font-family: "Halibut Condensed";
    font-size: 2.25em;
    text-align: center;

    box-sizing: border-box;
    width: 125%;
    max-width: 850px;
    height: 100px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 100px;
    margin-bottom: 25px;
}

#another-track-form-field {
    box-sizing: border-box;
}

#audiofile {
    font-family: "Porpora";
    margin-bottom: 35px;
}

input::file-selector-button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;


    font-family: "Porpora";
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 10px 0;

    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 100%;
    height: 60px;

    transition: background-color 0.275s ease-in;
}

input::file-selector-button:hover {
    transition: 0.125s ease-in;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;


    font-family: "Porpora";
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 10px 0;

    background-color: #1DA0C3;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 100%;
    height: 60px;
}

#another-new-track {
    display: flex;
    width: 100%;
    margin: 33px auto;
}

.submit-button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#submit-button {
    font-family: "Mattone";
    font-size: 2.75em;
    letter-spacing: -0.03em;
    margin: 100px 0 100px 0;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 80px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 7px 7px 0px #1DA0C3;
    border-radius: 100px;
}

.foot-main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    position: relative;
    bottom: 0;
    height: 100px;
    background: rgb(255, 255, 255);
    width: 100%;
}

.flex-footer-items {
    margin: 15px 1em 1em 1em;
}

.site-credits {
    font-family: "Porpora";
    font-size: .75em;
    margin-right: auto;
    max-width: 33%;
}